var count = parseInt($("#skill_<%= @skill.id %>").html());

<% if @endorsed %>
	$("#skill_<%= @skill.id %>").html(count-1);
	$("#skill_<%= @skill.id %>").removeClass( "endorsed" );
	$("#profile-skill_<%= @skill.id %> a").append("<div class='plus-button'>+</div>");
<% else %>
	$("#skill_<%= @skill.id %>").html(count+1);
	$("#skill_<%= @skill.id %>").addClass( "endorsed" );
	$("#profile-skill_<%= @skill.id %> .plus-button").remove();
<% end %>


