<!DOCTYPE html>
<html>
  <head>
    <title>Skilltags</title>
    <%= csrf_meta_tags %>
		
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		<link rel="stylesheet" media="screen" href="https://de7iszmjjjuya.cloudfront.net/assets/vendor-ffd0c20ade53b9ecd2b52cf5a8cd78195f374588cadd21eb5e2c2e97570f6cc3.css" />
		    <link rel="stylesheet" media="screen" href="https://de7iszmjjjuya.cloudfront.net/assets/application-308e0dc6a2faddbcbcd235c351893ce77992ec7d0c93edf2d4fe329d46c1e0c6.css" />
		<link rel="stylesheet" media="screen" href="https://de7iszmjjjuya.cloudfront.net/assets/gamma/projects-22a1fe6a70b8d178078bac05cc723f8db652b2dc7c232070889bb27ccec41113.css" />
		<link rel="stylesheet" media="screen" href="https://de7iszmjjjuya.cloudfront.net/assets/gamma/social_connect-2aadc487430c3a56d269ff08e5cd6eb696b7afc06961a3af10c7a083ff4ee28e.css" />

		<link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <div id="header" class="cf ">
      <div id="header-inner">
            <header class="cf" id="global-header">
              <div class="global-menu-wrapper cf">
                <p class="header-logo logo-icon">
                  <img src="http://via.placeholder.com/60x60">
                </p>
                <div class="global-menu">
                  <ul>
                    <li class="user-menu">
                      <a href="/">Your Profile</a>
                    </li>
                    <li class="user-menu">
                      <a href="/users">User List</a>
                    </li>
                    <li class="user-menu">
                      <a href="/skill_tags">Skills List</a>
                    </li>
                  </ul>
                </div>
              </div>
            </header>
      </div>
    </div>

  </head>

  <body>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <div class="container">
            <%= yield %>
		      </div>
  </body>
</html>
